/* Browser reset */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font setting */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Color palette */

:root {
  --orange: #FFA737;
  --violet: #556EED;
  --white: #F7F8F9;
  --blue: #001061;
}