/* Browser reset */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font setting */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Color palette */

:root {
  --orange: #FFA737;
}